.App {
  text-align: center;
}

.mainHeader {
  /* background: red; */
}

 .foodHeader{
  width: 100%;
height: 120px;
/* left: 178px; */
gap: 0px;
border-radius: 0px 0px 10px 10px;
opacity: 0px;
background-color: #8EC63F;
display: flex;
align-items: center;
justify-content: space-between;
 }
 
 


 ul{
  float: right;
  /* margin-right: 20px; */
  padding-top: 10px;
 }

ul li {
  display: inline;
 }
 ul li a {
padding-right: 20px;
font-size: 20px;
font-weight: 700;
line-height: 23px;
/* text-align: center; */
color: white;
padding-right: 50px;
/* display: flex; */
/* justify-content: center;
align-items: center; */
 }
.login {
   
    color: #8EC63F;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px
}
 
 ul li a:hover {
  
  /* color: aquamarine; */
  /* text-decoration: underline; */
  border-bottom: 5px solid #F8FD00; /* Change the color here */
  padding-bottom: 45px; /* Adjust the space from the bottom here */

   }

   .mainHeader {
    /* background-color: #F8FD00; */
    background-image: url('/public/images/hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: aliceblue;
    /* padding-top: 150px; */
    /* margin-bottom: -120px; */
    /* position: relative; */

   }

   .hero h1 span {
    
font-size: 96px;
font-weight: 700;
line-height: 110.39px;
text-align: left;
color: #8EC63F;


border-bottom: 5px solid  #8EC63F;; /* Change the color here */
  padding-bottom: 10px; /* Adjust the space from the bottom here */

   }

   .hero h1  {
    margin-top: 200px;
font-size: 96px;
font-weight: 700;
line-height: 110.39px;
text-align: left;
color: white
   }

   p{
    
font-size: 24px;
font-weight: 400;
line-height: 27.6px;
text-align: left;
margin-top: 20px;
width: 60%;

   }

   .bookingBox{
    margin-top: 200px;

    width: 260px;
height: 315px;
top: 252px;
left: 949px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-image: url('/public/images/book.png');
padding: 25px 20px 20px 20px;

   }